* {
    box-sizing: border-box;
}

html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    position:relative;
    margin:0;
}

header, footer{
    padding: 1em;
    color: white;
    background-color:#006699;
    clear: left;
    text-align: center;
}

footer{
    position:fixed;
    width: 100%;
    bottom:0;
}

fieldset{
    border:none;
}

label{
    font-weight:bold;
}

.checkbox-grp label{
    font-weight:normal;
    cursor:pointer;
}

.wrapper{
    overflow:auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom:60px;
}

.btn{
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom:10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#filter-nav {
    width: 25%;
    float: left;
    padding: 1em;
}
#results {
    width: 75%;
    float: left;
    padding: 1em;
}

/* Result Card modelded after the bs Media component*/

.result{
    margin-top:15px;
    padding-bottom:5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19);
}

.result:first-child{
    margin-top:0;
}

.result, .result-body{
    overflow: hidden;
}

.result-body {
  width: 100%;
}

.result-obj{
    display: block;
    width: 100px;
}

.result-obj.img-thumbnail{
    max-width:none;
}


.result-left{
    padding-right: 10px;
}

.result-left, .result-body {
  display: table-cell;
  vertical-align: top;
}


.result-heading {
  margin-top: 2px;
  margin-bottom: 2px;
 
}

.result-subheading {
  margin-top: 0px;
  margin-bottom: 5px;
}

.result-menu {
  display:table-cell;
  width: 125px;
  padding: 3px;
}


/* End Result Card Styles*/
.result-menu .diff-rating{
    text-align:center;
}

.diff-rating img{
    width:25px;
}

/* Styling for image toggle checkboxes*/
#diff-grp input[type=checkbox] {
    display:none;
}

#diff-grp input[type=checkbox] + img {
    -webkit-filter: grayscale(100%) opacity(50%);
    filter:grayscale(100%) opacity(50%);
}

#diff-grp label{
    padding-left:3px;
    padding-right:3px;
}

#diff-grp label img{
    width:25px;
}

#diff-grp input[type=checkbox]:checked + img
{
    -webkit-filter: grayscale(0%);
    filter:grayscale(0%);

}
/* End Styling for image toggle checkboxes*/